body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white; /* Ändrad bakgrundsfärg till vit */
}

header {
    background-color: #C71585; /* Mörkrosa färg för headern */
    color: white;
    text-align: center;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
    background-color: white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #C71585; /* Samma mörkrosa färg för rubriker */
}

button {
    background-color: #C71585; /* Mörkrosa färg för knappar */
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #a0136e; /* En mörkare nyans av rosa för hovringseffekt */
}

footer {
    background-color: #C71585; /* Mörkrosa färg för footern */
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
